<div class="schedule-container">
  <h2>Waiters Schedule</h2>
  <div>

 
  <table class="schedule">
    <thead>
      <tr>
        <th>Shift</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Lunch</td>
        {{#each schedule.lunch}}
          <td><div class="shift-cell">{{this}}</div></td>
        {{/each}}
      </tr>
      <tr>
        <td>Supper</td>
        {{#each schedule.supper}}
          <td><div class="shift-cell">{{this}}</div></td>
        {{/each}}
      </tr>
    </tbody>
  </table>
   </div>
</div>
<div class="admin-container">
  <!-- Buttons to navigate to create user and list users pages -->
<form action="/admin/create-user" method="get">
    <button type="submit">Create User</button>
</form>

  
  <!-- Form for navigating to list users page -->
  <form action="/admin/list-users" method="get">
    <button type="submit">List Users</button>
  </form>
</div>

<script>
  setTimeout(function() {
    var messageDiv = document.getElementById('notification-message');
    if (messageDiv) {
      messageDiv.style.display = 'none';
    }
  }, 3000); // 3 seconds
</script>
