
<div class="user-form">
  <h2>Create User</h2>
  <form action="/admin/create-user" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <!-- Adding the email field here -->
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <input type="submit" value="Create">
  </form>
  <form action="/admin/{{username}}" method="get">
    <button type="submit" class="back-to-admin-btn">Back To Admin</button>
  </form>
</div>
