
  <div id="notification-message" style="display: {{#if notification}}block{{else}}none{{/if}};">
  {{notification}}
</div>
<div class="user-form">
  <h2>Create User</h2>
  <form action="/admin/create-user" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <input type="submit" value="Create">
  </form>
    <form action="/admin/{{username}}" method="get">
  <button type="submit">Back To admin</button>
</form>
</div>
<script>
  setTimeout(function() { var messageDiv =
  document.getElementById('notification-message'); if (messageDiv) {
  messageDiv.style.display = 'none'; } }, 3000); // 3 seconds
</script>