  <div class="users-list-column">
    <h2>Waiter List</h2>
    <table class="users-list">
      <thead>
        <tr>
          <th>Waiter name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each waiters}}
          <tr>
            <td class="username">{{this.username}}</td>
            <td>
              <form action="/admin/delete-user/{{../username}}" method="post">
                <input type="hidden" name="username" value="{{this.username}}">
                <button type="submit" class="delete-button">Delete</button>
              </form>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <form action="" method="get">
      <button type="submit">Back To admin</button>
    </form>
  </div>