<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Shifts</title>
    <style>
        /* You can add custom styling here */
    </style>
</head>
<body>
    <div class="waiter-container">
        <h1>Welcome, {{username}}</h1>
        <form action="/waiters/{{username}}" method="post">
            <label for="monday">Monday:</label>
            <input type="checkbox" id="monday" name="days[]" value="Monday"><br>
            <label for="tuesday">Tuesday:</label>
            <input type="checkbox" id="tuesday" name="days[]" value="Tuesday"><br>
            <label for="wednesday">Wednesday:</label>
            <input type="checkbox" id="wednesday" name="days[]" value="Wednesday"><br>
            <label for="thursday">Thursday:</label>
            <input type="checkbox" id="thursday" name="days[]" value="Thursday"><br>
            <label for="friday">Friday:</label>
            <input type="checkbox" id="friday" name="days[]" value="Friday"><br>
            <label for="saturday">Saturday:</label>
            <input type="checkbox" id="saturday" name="days[]" value="Saturday"><br>
            <label for="sunday">Sunday:</label>
            <input type="checkbox" id="sunday" name="days[]" value="Sunday"><br>
            <button type="submit">Save Shifts</button>
        </form>
    </div>
</body>
</html>
