body {
    background-color: #FFE6E8;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #333;
}

.login-container {
    width: 300px;
    padding: 20px;
    margin: 100px auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.input-container {
    margin-bottom: 15px;
    position: relative;
}

label {
    font-weight: bold;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.login-button {
    width: 100%;
    padding: 12px;
    background-color: #FF5733;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #E94E27;
}
