body {
    background-color: #FFE6E8;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #333;
}

.login-container {
    width: 300px;
    padding: 20px;
    margin: 100px auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.input-container {
    margin-bottom: 15px;
    position: relative;
}

label {
    font-weight: bold;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.login-button {
    width: 100%;
    padding: 12px;
    background-color: #FF5733;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #E94E27;
}


.schedule-container {
    width: 80%;
    margin: 40px auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.schedule {
    width: 100%;
    border-collapse: separate; /* This allows you to add space between the cells */
    border-spacing: 5px; /* This adds space between the cells */
}


.schedule th,
.schedule td {
    border: 1px solid #ccc;
    padding: 15px; /* Increase padding for bigger cells */
    text-align: center;
    min-width: 100px; /* Minimum width for the cells */
}

.schedule th {
    background-color: #FF5733;
    color: white;
}

.schedule .shift-cell {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; /* Changes the cursor when hovering over the cell */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.schedule .shift-cell:hover {
    background-color: #E94E27; /* Color change when hovering over the cell */
    color: white;
}


.admin-container {
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
    width: 80%;
  }
  
  .create-user-column,
  .users-list-column {
    width: 48%; /* Adjust the width as needed */
  }
  
 



  .notification-message {
    background-color: #f44336; /* Red background */
    color: white; /* White text */
    padding: 16px; /* Some padding */
    position: fixed; /* Fixed position */
    top: 0; /* Place it at the top */
    left: 0; /* Place it at the left */
    width: 100%; /* Full width */
    z-index: 1000; /* Place it on top */
    text-align: center; /* Centered text */
  }


  /* waiter */


  input[type="checkbox"] {
    margin-right: 10px;
}
.login-button {
    width: 100%;
    padding: 12px;
    background-color: #FF5733;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.login-button:hover {
    background-color: #E94E27;
}

/* admin user */
/* Style for the navigation buttons in admin-container */
.admin-container button {
  padding: 12px;
  background-color: #FF5733;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  text-align: center;
  display: block; /* Makes the button take up the full width of its container */
  margin: 10px 0; /* Adds some margin around the buttons */
}

.admin-container button:hover {
  background-color: #E94E27;
}



/* create user */
.user-form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #FF5733;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.user-form h2 {
  text-align: center;
  color: #333;
  font-size: 2.5rem;
}

.user-form label {
  display: block;
  margin: 10px 0;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.user-form input[type="text"],
.user-form input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  font-size: 1rem;
  border-radius: 5px;
}

.user-form input[type="submit"] {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #FF5733;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 2em;
}

.user-form input[type="submit"]:hover {
  background-color: #E94E27;
}


/* user list */


.users-list-column {
  width: 48%;
  margin: 40px auto;
}

.users-list-column h2 {
  text-align: center;
  font-size: 2.5rem;
  color: #333;
}

.users-list {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.users-list th,
.users-list td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.users-list th {
  background-color: #FF5733;
  color: white;
}

.users-list tr:nth-child(even) {
  background-color: #f2f2f2;
}

.delete-button {
  background-color: #f44336; /* Red */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.delete-button:hover {
  background-color: #d32f2f; /* Darker red on hover */
}


.users-list-column form {
  margin-top: 20px;
  text-align: center; /* Center the button */
}

.users-list-column button[type="submit"] {
  padding: 12px;
  background-color: #FF5733;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  text-align: center;
  display: inline-block; /* Makes the button inline */
}

.users-list-column button[type="submit"]:hover {
  background-color: #E94E27;
}


.username {
  font-size: 1.2rem;
}